.formContainer {
  height: 26rem;
  width: 45rem;
  padding: 0.938rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.control {
  margin-bottom: 2rem;
}

.control label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.control input,
textarea,
select {
  height: 40px;
  width: 640px;
  font-size: 1.2rem;
  padding: 0.25rem;
  font-family: sans-serif;
}

.checkboxContainer {
  height: 32px;
  font-size: 1rem;
  color: black;
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 165px;
}

.checkboxContainer input {
  height: 24px;
  width: 32px;
}

.forgotPassword {
  cursor: pointer;
  font-weight: none;
  color: #77002e;
  position: absolute;
  top: 92.8px;
  font-size: 0.9rem;
}

.forgotPassword:hover {
  color: #a50e48;
  text-decoration: underline;
}

.unrenderedOverlay,
.unrenderedResetTab {
  display: none;
}

.renderedOverlay {
  display: block;
  background-color: rgb(177, 177, 177);
  z-index: 1;
  height: 100vh;
  position: absolute;
  opacity: 0.4;
  top: 0;
  width: 100%;
}

.renderedResetTab {
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
  height: 320px;
  width: 480px;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 2em;
}

.renderedResetTab h1 {
  margin: 1rem auto;
}

.renderedResetTab hr,
p {
  margin-bottom: 1rem;
}

.renderedResetTab label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.renderedResetTab input {
  width: 320px;
  height: 32px;
  font-size: 1rem;
  padding: 0.25rem;
}

/* Button Styling */

.actions {
  margin-top: 48px;
  text-align: center;
}

.actions input {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
  width: 90px;
  height: 35px;
}

.actions input:hover,
.actions input:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.errorMessage,
.errorMessageOverlay {
  display: none;
  color: red;
  position: absolute;
}

.errorMessage {
  bottom: 180px;
}

.errorMessageOverlay {
  bottom: 100px;
}

.errorMessageVisible {
  display: block;
}
