.infoContainer {
  height: 480px;
  width: 480px;
  background: radial-gradient(#f8eeee, #cdcecf);
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  padding: 1rem;
}

.infoContainer h3 {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .infoContainer {
    width: 80%;
  }

  .infoContainer h3 {
    font-size: 1rem;
  }
}
